<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Add new Author to Book</title>
    <style type = "text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding:3px 2px;
        }
        section {
            float: left;
            margin: 0 1.5%;
            width: 63%;
        }
        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
        }
    </style>
</head>
<body class="bg-light">
<header>
    <h1>Select the Author to add to the Book </h1>
</header>
<section class="book-container">
    <form th:method="POST" th:action="@{/authors}">
        <div class="book">
    <h2>Select author:</h2>
    <!-- Make changes to this code to dynamically display radio buttons for each author as in the example -->
    <th:block th:each="author : ${authors}">
        <input  type="radio" name="authorId" th:value="${author.getId()}" th:text="${author.getId()}">
        <div style="font-weight: bold" th:text="${author.getFullName().toString()}"></div>
        <div th:text="${author.getBiography()}"></div><br/>
         <br/>
    </th:block>
        </div>

    <input class="btn btn-dark" type='submit' value='Submit'>

        <a href="/authors/add-form" class="btn btn-dark add-product-btn">
        Add new author
    </a>
    </form>
</section>
<aside>
    <table class="table-bordered border-black">
        <tr>
            <!-- change to show selected book isbn -->
            <td class="table-light"><b>Book Id</b></td>
            <td class="table-light" th:text="${session.bookId}"></td>
        </tr>
    </table>
</aside>
</body>
</html>